<footer>
    <div id="container-footer-all">

        <div id="container-body">
            <div id="colum1">
                <h1>Information about the page</h1>
                <p>
                    giurhgurhuighrg
                    gerg
                    ehethtrh
                    trhrthetherhrhhgiurhgurhuighrg
                    gerg
                    ehethtrh
                    trhrthetherhrhhgiurhgurhuighrg
                    gerg
                    ehethtrh
                    trhrthetherhrhhgiurhgurhuighrg
                    gerg
                    ehethtrh
                    trhrthetherhrhhgiurhgurhuighrg
                    gerg
                    ehethtrh
                    trhrthetherhrhh
                </p>
            </div>

            <div id="colum2">
                <h1>Social Media</h1>

                <div id="row">
                    <img src="" />
                    <label>Facebook</label>
                </div>

                <div id="row">
                    <img src="" />
                    <label>Twitter</label>
                </div>
                <div id="row">
                    <img src="" />
                    <label>Instagrem</label>
                </div>
                <div id="row">
                    <img src="" />
                    <label>Google</label>
                </div>

            </div>


            <div id="colum3">
                <h1>Contact Information</h1>

                <div id="row2">
                    <img src="" />
                    <label>
                        Application Insights Telemetry
                        The thread 0x7ac has exited with code 0 (0x0)
                    </label>
                </div>

                <div id="row2">
                    <img src="" />
                    <label>
                        0779094198
                    </label>
                </div>

                <div id="row2">
                    <img src="" />
                    <label>
                        malithdulan7@gmail.com"
                    </label>
                </div>

            </div>
        </div>


    </div>


    <div id="container-footer">
        <div div="cn-footer">

            <div id="f1">

                <div id="copyright" style="text-align:center">
                    2018 All right received | <a href="">Malith</a>
                </div>

            </div>

            <div id="f2">

                <div id="information" style="text-align:center;">
                    <a href="">Contact Information</a> | <a href="">Leagel Information</a> | <a href="">Help Information</a>

                </div>

            </div>

        </div>
    </div>


</footer>
