<div id="main">
    <div id="logo"><h1 id="logo-text">FastFood</h1></div>
    <div id="mountainImg">
        <img src="~/Images/parallax/logo2.jpg" style="width:100%; height:600px;" />
    </div>
    <div id="btn">
        <img id="btn-btn" src="~/fontawesome/laugh.svg" />
    </div>
</div>

