<div id="parallax-item-logo" >
    <div style="justify-content: center;
    align-items: center;padding-top:5px;">
       
        <div id="blog">


            <div class="container" id="blog-posts">
                <div class="row" style="width:575px; margin-left:auto; margin-right:auto;">


                    <div id="post1">
                        <div id="post-post1">

                            <div>
                                <img alt="" class="img-fluid" />

                            </div>


                            <div>
                                <h4 class="card-title">Hi There</h4>
                                <p class="card-text">working working working working</p>


                                <div class="text-right">
                                    <a class="btn btn-primary" id="cartButton" href="#">
                                        Blog
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="post3">
                        <div id="post-post3">

                            <div>
                                <img alt="" class="img-fluid" />

                            </div>


                            <div>
                                <h4 class="card-title">Hi There</h4>
                                <p class="card-text">working working working working</p>


                                <div class="text-right">
                                    <a class="btn btn-primary" id="cartButton" href="#">
                                        Blog
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>






            <div class="container" id="blog-posts1">

                <div class="row" style="width:575px; margin-left:auto; margin-right:auto;">


                    <div id="post4">
                        <div id="post-post4">

                            <div>
                                <img alt="" class="img-fluid" />

                            </div>


                            <div>
                                <h4 class="card-title">Hi There</h4>
                                <p class="card-text">working working working working</p>


                                <div class="text-right">
                                    <a class="btn btn-primary" id="cartButton" href="#">
                                        Blog
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="post5">
                        <div id="post-post5">

                            <div>
                                <img alt="" class="img-fluid" />

                            </div>


                            <div>
                                <h4 class="card-title">Hi There</h4>
                                <p class="card-text">working working working working</p>


                                <div class="text-right">
                                    <a class="btn btn-primary" id="cartButton" href="#">
                                        Blog
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



        </div>



    </div>
</div>

